@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Epilogue:300,regular,500,600,700,800,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_big] {
  max-width: 106.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_small] {
  max-width: 63.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 24px;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button._fw {
  width: 100%;
}

.button_white {
  background-color: #FFFFFF;
  color: black;
  border: 1px solid #fff;
}

.button_green {
  color: #fff;
  background: #26A17B;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 89.5px;
  font-weight: 700;
  min-height: 48px;
  min-width: 172px;
}

.button_light-green {
  color: #26A17B;
  background: #ACFBC2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 89.5px;
  font-weight: 700;
  min-height: 51px;
  min-width: 191px;
}

.button_red {
  background-color: #FE4D5D;
  -webkit-box-shadow: 0px 11px 16px rgba(254, 77, 93, 0.5);
          box-shadow: 0px 11px 16px rgba(254, 77, 93, 0.5);
  letter-spacing: 1.02px;
  color: #FFFCFC;
  border-radius: 89.5px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
  position: relative;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-top: 2px solid #FE4D5D;
  padding: 0.9375rem 0.9375rem;
  font-family: "Epilogue";
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.98px;
  color: #FE4D5D;
  text-align: center;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  background: url("../img/arrow.svg") center no-repeat;
  width: 28px;
  height: 28px;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translate(-50%, 10px);
      -ms-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.spollers__title._spoller-active::before {
  -webkit-transform: translate(-50%, 10px) rotate(-180deg);
      -ms-transform: translate(-50%, 10px) rotate(-180deg);
          transform: translate(-50%, 10px) rotate(-180deg);
}

.spollers__body {
  padding: 15px 30px 20px;
  border-radius: 0.3125rem;
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.52px;
  color: #000000;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  padding: 0.625rem 0;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header._header-scroll,
.coin-page .header {
  background-color: #fd4d5d;
  -webkit-box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.062745098);
          box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.062745098);
  min-height: 68px;
  position: static;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__icon {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.5rem;
}

.menu__link {
  position: relative;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  color: #fff;
  padding: 6px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link.menu__link_active::before {
  width: 15px;
}

.icon-menu {
  display: none;
}

.coin-page__tab-menu {
  height: 150px;
  background-color: lightcoral;
}

.coin-card {
  padding-top: 30px;
  padding-bottom: 45px;
  overflow: auto;
}

.coin-card__container {
  max-width: 800px;
}

.coin-card__block {
  background: #F4F4F4;
  border: 2px solid #DB4F5C;
  border-radius: 14px;
}

.coin-card__block:not(:last-child) {
  margin-bottom: 50px;
}

.coin-card__title {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.98px;
  color: #000000;
  text-align: center;
}

.coin-card__title:not(:last-child) {
  margin-bottom: 25px;
}

.coin-card__body {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.coin-card__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coin-card__icon {
  border-radius: 50%;
  max-width: 65px;
  max-height: 65px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coin-card__icon img {
  width: 100%;
  max-height: 100%;
}

.coin-card__label {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.98px;
  color: #000000;
}

.coin-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.coin-card__edit {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #00bd9c;
  padding: 8px 20px;
  color: #00bd9c;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.info-coin__status {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: -0.48px;
  color: #000000;
  background: #ACFBC2;
  border-radius: 11.9695px;
  padding: 10px 20px 10px 60px;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 55px;
  position: relative;
}

.info-coin__status::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  background: url("../img/coin/2.png") center/contain no-repeat;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.info-coin__status_green {
  background: #ACFBC2;
}

.info-coin__status_red {
  background: #f0bab6;
}

.specification-coin__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 22px;
  line-height: 177%;
  letter-spacing: -0.98px;
  color: #000000;
}

.specification-coin__item span {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 22px;
  line-height: 177%;
  letter-spacing: -0.98px;
  color: #000000;
}

@media (min-width: 47.99875em) {
  .info-coin__specification {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 230px;
            flex: 0 1 230px;
  }

  .info-coin__statistic {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 230px;
            flex: 0 1 230px;
  }
}

@media (min-width: 87.5em) {
  .header {
    min-height: 7.5rem;
  }

  .menu__list {
    -webkit-column-gap: 2.8125rem;
       -moz-column-gap: 2.8125rem;
            column-gap: 2.8125rem;
  }
}

@media (min-width: 103.125em) {
  .header__container {
    -webkit-column-gap: 8.125rem;
       -moz-column-gap: 8.125rem;
            column-gap: 8.125rem;
  }

  .header__logo {
    width: 18.75rem;
  }
}

@media (max-width: 20em) {
  .header {
    min-height: 5rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 87.5em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .button_white {
    background-color: #fd4d5d;
    color: white;
    border: 1px solid #fd4d5d;
  }

  .header__logo {
    width: 12.5rem;
  }

  .header__logo {
    margin-left: -15px;
  }

  .menu__body {
    position: fixed;
    z-index: 9;
    overflow: auto;
    height: 100%;
    max-width: 320px;
    width: 100%;
    right: -100%;
    top: 0;
    background-color: #fff;
    padding: 110px 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    row-gap: 40px;
    -webkit-box-shadow: -10px 0px 90px 0px rgba(7, 17, 56, 0.15), inset 0px 0px 0 6px white, inset 0px 0px 0 8px #fd4d5d;
            box-shadow: -10px 0px 90px 0px rgba(7, 17, 56, 0.15), inset 0px 0px 0 6px white, inset 0px 0px 0 8px #fd4d5d;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    color: #fd4d5d;
    display: block;
    font-size: 1.5rem;
  }

  .menu__link::before {
    background-color: #fd4d5d;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .menu__link.menu__link_active::before {
    width: 15px;
  }

  .menu__button {
    width: 100%;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.625rem;
    height: 1.125rem;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fd4d5d;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  ._header-scroll .icon-menu span,
  ._header-scroll .icon-menu::before,
  ._header-scroll .icon-menu::after,
  .coin-page .icon-menu span,
  .coin-page .icon-menu::before,
  .coin-page .icon-menu::after {
    background-color: #fff;
  }

  .menu-open ._header-scroll .icon-menu span,
  .menu-open ._header-scroll .icon-menu::before,
  .menu-open ._header-scroll .icon-menu::after,
  .menu-open .coin-page .icon-menu span,
  .menu-open .coin-page .icon-menu::before,
  .menu-open .coin-page .icon-menu::after {
    background-color: #fd4d5d;
  }
}

@media (max-width: 61.99875em) and (any-hover: hover) {
  .button_white:hover {
    background-color: #fff;
  }

  .menu__link:hover::before {
    width: 15px;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .coin-card__title {
    font-size: 33px;
  }

  .coin-card__body {
    gap: 25px;
  }

  .coin-card__icon {
    max-width: 55px;
    max-height: 55px;
  }

  .coin-card__label {
    font-size: 25px;
  }

  .info-coin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }

  .coin-card__header {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }

  .coin-card__edit {
    width: 100%;
  }

  .info-coin {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (min-height: clamp( 5rem , 4.2592592593rem  +  3.7037037037vw , 7.5rem )) {
    .header {
      min-height: clamp( 5rem , 4.2592592593rem  +  3.7037037037vw , 7.5rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.2592592593rem  +  3.7037037037vw , 7.5rem )) {
    .header {
      min-height: calc(5rem + 2.5 * (100vw - 20rem) / 67.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem )) or (column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem );
         -moz-column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem );
              column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem )) or (column-gap: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 0.9375 * (100vw - 20rem) / 67.5);
         -moz-column-gap: calc(1.875rem + 0.9375 * (100vw - 20rem) / 67.5);
              column-gap: calc(1.875rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 103.125em) {
@supports ((-moz-column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem )) or (column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem );
         -moz-column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem );
              column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem )) or (column-gap: clamp( 2.5rem , -2.3977205732rem  +  10.2038502528vw , 8.125rem ))) {
    .header__container {
      -webkit-column-gap: calc(2.5rem + 5.625 * (100vw - 47.99875rem) / 55.12625);
         -moz-column-gap: calc(2.5rem + 5.625 * (100vw - 47.99875rem) / 55.12625);
              column-gap: calc(2.5rem + 5.625 * (100vw - 47.99875rem) / 55.12625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 103.125em) {
@supports (width: clamp( 12.5rem , 3.0779839519rem  +  15.1971064709vw , 18.75rem )) {
    .header__logo {
      width: clamp( 12.5rem , 3.0779839519rem  +  15.1971064709vw , 18.75rem );
    }
}

@supports not (width: clamp( 12.5rem , 3.0779839519rem  +  15.1971064709vw , 18.75rem )) {
    .header__logo {
      width: calc(12.5rem + 6.25 * (100vw - 61.99875rem) / 41.12625);
    }
}
}

@media (any-hover: hover) {
  .button_white:hover {
    color: #fd4d5d;
  }

  .button_green:hover {
    color: #26A17B;
    background: #ACFBC2;
  }

  .button_light-green:hover {
    background: #fff;
  }

  .button_red:hover {
    background-color: #ff2e3f;
  }

  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .menu__link:hover::before {
    width: 15px;
  }

  .coin-card__edit:hover {
    background-color: #00bd9c;
    color: #fff;
  }
}